$body: #F6F2EF;
$blue: #182E55;
$grey_title:#595959;
$subtitle : #9D3625;
$vert:#75840F;
$backgroundCompetences:linear-gradient(to bottom, #85A2B8, #85A2B8 40%, #72899B);
$lightred : #CE8174;
$lightblue : #85A2B8;